<h1 style="font-size:60px;">Todos</h1>
<img src="https://www.shutterstock.com/shutterstock/photos/1176019075/display_1500/stock-vector-autumn-welcome-sign-with-colorful-maple-leaves-vector-background-1176019075.jpg" width='600' height='500'>
<p>HERE YOU CAN ADD YOUR TASKS WHATEVER YOU WANT TO DO.</p>
<ol>
  <% @todos.each do |todo| %>
    <li><%= link_to todo.title, todo_path(todo) %>  <button><%= link_to "Remove item", todo, data: {turbo_method: :delete,turbo_confirm: "Are you sure?"} %></button></li>
    
  <% end %>
</ol>
<button><%= link_to 'New Todo', new_todo_path %></button>
 <%= link_to "log_out", new_user_session_path %>