<h1 >New Todo</h1>
<h1 >HERE YOU CAN ADD YOUR NEW TASKS ....</h1>
<%= render 'form' %>
<button><%= link_to 'Back', todos_path %></button>
<style>
button {
  background-color: magenta;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}
</style>